/*main_block*/

#main
{
	height: 2200px;
}
.about_us
{
	width: 100%;
	height: 550px;
	background-color: #E2E2E2;
}
.about_us .header
{
	width: 100%;
	height: 150px;
	text-align: center;
	font-weight: bold;
	font: italic 93px "Dancing Script", cursive;
}
.about_dish
{
	width: auto;
	height: 350px;
	display: flex;
}
.about_dish .img
{
	width: 50%;
	height: 100%;
}
.about_dish #img
{
	width: 100%;
	height: 100%;
}
.about_dish .text
{
	width: 50%;
	height: 100%;
}

.our_cooks
{
	width: 100%;
	height: 500px;
}
.our_cooks .header
{
	width: 100%;
	height: 100px;
	font-weight: bold;
	font: italic 63px "Dancing Script", cursive;
	text-align: center;
}
.our_cooks .cooks
{
	width: 100%;
	height: 400px;
	display: flex;
}
.cooks figure
{
	width: 33%;
	height: 100%;
	margin: auto;
	text-align: center;
}
.testimonials
{
	width: 100%;
	height: 500px;
}
.testimonials .header
{
	height: 100px;
	text-align: center;
	font-weight: bold;
	font: italic 63px "Dancing Script", cursive;
}
.testimonials .img
{
	text-align: center;
	font: 23px "Josefin Sans", cursive;
	width: 100%;
	height: 200px;
}
.testimonials .img figure .img_block
{
	margin: auto;
	width: 112px;
	height: auto;
}
.testimonials .img figure img
{
	border-radius: 50px;
	width: 100%;
	height: 100%;
}


/*------------video_block-------------------*/

.about_us_video
{
	width: 100%;
	height: 370px;
}
.about_us_video .header
{
	font: italic 63px "Dancing Script", cursive;
	text-align: center;
	width: 100%;
	height: 100px;
}
.about_us_video .video_block
{
	height: 270px;
	width: 100%;
	display: flex;
}
.about_us_video .video_block video
{
	width: auto;
	height: 100%;
	margin: auto;
}

/*------------Podcast_styles------------*/

.podcast
{
	width: 100%;
	height: 200px;
}
.podcast .header
{
	margin-top: 40px;
	text-align: center;
	font: italic 63px "Dancing Script", cursive;
	height: 70px;
}
.podcast .audio
{
	display: flex;
	width: 100%;
	height: 150px;
}
.podcast .audio audio
{
	margin: auto;
}