/*google font (Dancing Script)*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
/*google font (Josefin Sans)*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Josefin+Sans&family=Slabo+27px&display=swap');

body
{
	background-image: url("images/bg.jpg");
	background-attachment: fixed;
}
header
{
	width: 85%;
	height: 350px;
	margin: auto;
}

.line
{
	margin: auto;
	width: 30px;
	height: 3px;
	background-color: #fff;
}
.#dark_line
{
	margin: auto;
	width: 30px;
	height: 3px;
	background-color: #000;
}
.header
{
	width: 100%;
	height: 82%;
}
.header_logo
{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;

}
.logo_block
{
	width: auto;
	height: 70px;
	margin-top: auto;
	margin-bottom: auto;

}
#span_logo
{
	font: italic 93px "Dancing Script", cursive;
	font-weight: bold;
	color: #fff;
}
.span_below_logo
{
	margin-bottom: 10px;
	color: #fff;
	text-align: center;
	font-size: 20px;
}
/*------------navigation_menu-------------------*/

.header_nav
{
	width: 100%;
	height: 18%;
	background-color: white;
}
.nav_menu
{
	width: 100%;
	height: 100%;
	background-color: white;
	display: flex;
}
.nav_link
{
	color: #000;
}
.nav_list
{
	margin: auto;
	width: auto;
	height:auto;
	list-style-type: none;
}
.nav_list_item
{
	display: inline-block;
	margin: 0px 5px;
	font-size: 20px;
	padding: 10px;
}
.nav_list_item:hover
{
	background-color: #000;
	color: #fff;
	transition-duration: 0.2s;
}

/*-----------Sections-------------------*/

.main_body
{
	padding: 40px;
	width: 78%;
	height: 1100px;
	margin: auto;
	display: block;
	background-color: #fff;

}
.text_red
{
	color: #E24560;
}
.content_block
{
	margin-top: 10px;
	width: 100%;
	height: auto;
	display: flex;
	border: 2px solid #E2D5D5;
	background-color: #E2E2E2;
	padding-bottom: 10px;
}
.content_block .text h1
{
	font: italic 50px "Dancing Script", cursive;
	font-weight: bold;
}
.content_block .text h2
{
	font-size: 17px;
	font-family: 'Josefin Sans', cursive;
}
.content_block .img
{
	width: 50%;
	height: 100%;
	margin: auto;

}
.content_block .img img
{
	width: 100%;
	height: 100%;
}

.content_block .text
{
	width: 50%;
	height: 100%;
}
.content_block .text h1, h2, p
{
	text-align: center;
}
#content_block2
{
	background-color: white;
}

/*----------section_latest_event------------*/

.additional_section
{
	margin: auto;
	width: 75%;
	height: 350px;
}
.latest_event_block
{
	width: 100%;
	height: 100%;

}
.latest_event_block .inner_block
{
	display: flex;
	width: 100%;
	background-color: #fff;
}
.latest_event_block .inner_block .img
{
	width: 50%;
	height: 100%;
}
.latest_event_block .inner_block .img img
{
	width: 100%;
	height: 100%;
}
.latest_event_block .inner_block .text
{
	width: 50%;
	height: 100%;
}
.latest_event_block .inner_block .text h1, h2, p
{
	text-align: center;
}
.latest_event_block .inner_block .text h2
{
	font-size: 20px;
}

.latest_event_block .span_block
{
	width: 100%;
	height: 30%;
	display: flex;
}
.latest_event_block .span_block .span
{
	margin: auto;
	width: auto;
	height: auto;
}
.latest_event_block .span_block span
{
	font: 40px 'Dancing Script', cursive;
	font-weight: bold;
	color: #fff;
}

/*----------footer styles-------------------*/

footer
{
	padding-top: 120px;
	width: 100%;
	height: 120px;
	margin-bottom: 0px;

}
footer a
{
	text-decoration: none;
	color: #E24560;
}
.footer
{
		background-color: #fff;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: space-around;

}
.footer .main_block
{
	width: 150px;
	height: 100%;
	display: flex;
	justify-content: center;

}
.footer #main_block2
{
	width: auto;
	height: 100%;
	display: flex;
	justify-content: center;
}
.footer .copyright_block
{
	height: 50px;
	display: flex;
	margin: auto;
}
.footer .copyright_block span
{
	margin: auto;
}
.footer .social_block
{
	width: 100%;
	height: 60px;
	display: flex;
	margin: auto;

}
.footer .social
{
	display: flex;
	margin: auto;
	height: 45px;
	width: 40px;
	background-color: #E24560;
	border: 2px solid #000;
	border-radius: 18px;
	
}
.footer .social:hover
{
	
	background-color: #fff;
}

.footer .social img
{
	margin: auto;
	width: 80%;
	height: 80%;
}
.footer #main_block
{
	width: 250px;
	height: 100%;
	display: flex;
	justify-content: center;
}
.footer .privacy_block
{
	width: 100%;
	margin: auto;
	display: flex;
	justify-content: space-around;
}
.footer .privacy_block .privacy_span
{
	width: auto;
	height: 100%;
	margin: auto;

}
.footer .privacy_block .privacy_span:hover
{
	text-decoration: underline;
}

/*---------button_read_more styles---------------*/
.button
{
	display: flex;
}

.but_read_more
{
	text-decoration: none;
	padding: 9px 17px;
	background-color: #000;
	color: #fff;
	border-radius: 10px;
	margin: auto;
	border: 1px solid #000;
}
.but_read_more:hover
{
	background-color: #CECECE;
	color: #000;
	transition-duration: 0.2s;
}